<div class="container" style="display: flex;">
    <div class="card col-12 col-md-6" style="margin-right: 30px;">
        <div class="header" style="text-align: center; margin-top: 40px;">
            <h3>CONTACT ME</h3>
        </div>
        <div class="grid">
            <form>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Your Name</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Your Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Subject</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-floating mb-3">
                    <label for="floatingTextarea2">Comments</label>
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                </div>
   
                <button type="submit" class="btn btn-success">Send Message</button>

             
            </form>
        </div>
    </div>
    <div class="card col-12 col-md-6">
        <!-- <div class="contact-bar">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16" style="margin:50px 50px">
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
              </svg>
        </div>
        <div class="value">
            <h3>ssmunasinghe1998@gmail.com</h3>
        </div> -->
    </div>
</div>

