<div class="container" style="display:flex;">
    <div class="card col-12 col-md-6" style="margin-right: 30px;;">
        <div class="text-center">
            <h2>About Me</h2>
            <img src="../../assets/images.jpg" alt="profile" width="256 256" class="rounded-circle">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi velit turpis, pellentesque sit amet dapibus vitae, pharetra eget lectus. Nulla efficitur massa nec erat blandit pellentesque. Integer id accumsan felis. Duis sit amet tellus diam. Fusce consequat fermentum erat, a vestibulum arcu maximus vitae. Nulla pretium, ante suscipit aliquam imperdiet, metus justo efficitur justo, ut vestibulum lorem nunc a dolor. Donec rutrum ligula vel imperdiet mollis. Duis pretium nisi ac mauris convallis, nec mattis odio pharetra. Suspendisse semper dapibus odio, sit amet accumsan dui gravida cursus. Aliquam fringilla quam egestas lorem ornare, ac congue velit semper. Nullam sodales, lectus nec tincidunt iaculis, velit est pellentesque arcu, at iaculis nibh metus convallis odio. Vestibulum id maximus ipsum.</p>
        </div>
    </div>
    <div class="card col-12 col-md-6">
        <h4>text</h4>
    </div>
</div>
